<!-- views/urls_show.ejs -->
<!DOCTYPE html>
<header>
    <% include partials/_header %>
</header>

<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <ul>
        <li><%= shortURL %> - <%= longURL %></li>
    </ul>
  </body>
</html>